 ../../.bash_history
        ../../.ddev/
        ../../.docker/
        ../../.ftpquota
        ../../.gitconfig
        ../../.vscode/
        ../../AppData/
        ../../Contacts/
        ../../Creative Cloud Files/
        ../../Desktop/
        ../../Downloads/
        ../../Favorites/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{0058464a-6b5a-11ed-ad9b-968b6a718385}.TM.blf
        ../../NTUSER.DAT{0058464a-6b5a-11ed-ad9b-968b6a718385}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{0058464a-6b5a-11ed-ad9b-968b6a718385}.TMContainer00000000000000000002.regtrans-ms
        ../.849C9593-D756-4E56-8D6E-42412F2A707B
        ../Document.docx
        ../desktop.ini
        ../old/
        ../../Saved Games/
        ../../Searches/
        ../../Videos/
        ../../_/
        ../../dist/
        ../../node_modules/
        ../../npx
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../tailwind.config.js
        ../../textbackup